@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Home.css">

<div class="full-width-wrapper">
    <div class="hero-text">
        <h1>MAGIC MIRROR 鏡中世界：</h1>
        <h1>智慧魔鏡的創新與實踐</h1>
        <p>指導老師：李錫捷</p>
        <p>專題組員：劉佩芬，陳穎辰，劉建明，李麗恩，莊韻真</p>
    </div>
    <div class="hero-image">
        <img src="~/css/nana_hi.png" alt="Nana">
    </div>
</div>
