@page
@model WebApplicationTest.Pages.ResultscshtmlModel
@{
    ViewData["Title"] = "Results";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/result.css">

<div class="full-width-wrapper">
    <div class="hero-text">
        <h1>Results</h1>
    </div>
    <div class="video-wrapper">
        <div class="video-container">
            <iframe width="1080"
                    height="720"
                    src="https://www.youtube.com/embed/YRPWilhpQyw"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>